In [11]:
student_info = {'Name' : 'Rohit','Age': 20, 'SEX': 'Male','Address':'ABC COLONY USA'}
print(student_info)
print(f'student Details : {student_info['Name']} and House Address: {student_info['Address']}')

print(f' dtls : {student_info['Name']} and Agedtls: {student_info['Age']}')

{'Name': 'Rohit', 'Age': 20, 'SEX': 'Male', 'Address': 'ABC COLONY USA'}
student Details : Rohit and House Address: ABC COLONY USA
 dtls : Rohit and Agedtls: 20

In [15]:
stud_info = {'name' : 'aakash', 'AGE' : '30', 'Course' : 'CS', 'GPA':4.5}
print(stud_info)
stud_info.update({'graduatation year':2024})
print(stud_info)

{'name': 'aakash', 'AGE': '30', 'Course': 'CS', 'GPA': 4.5}
{'name': 'aakash', 'AGE': '30', 'Course': 'CS', 'GPA': 4.5, 'graduatation year': 2024}

In [23]:
stud_info = {'name' : 'aakash', 'AGE' : '30', 'Course' : 'CS', 'GPA':4.5}
print(stud_info)
stud_info['EMI'] = 12345
print(stud_info)

{'name': 'aakash', 'AGE': '30', 'Course': 'CS', 'GPA': 4.5}
{'name': 'aakash', 'AGE': '30', 'Course': 'CS', 'GPA': 4.5, 'EMI': 12345}

In [25]:
stud_info = {'name' : 'aakash', 'AGE' : '30', 'Course' : 'CS', 'GPA':4.5}
print(stud_info)
stud_info['EMI'] = 892892
print(stud_info)

{'name': 'aakash', 'AGE': '30', 'Course': 'CS', 'GPA': 4.5}
{'name': 'aakash', 'AGE': '30', 'Course': 'CS', 'GPA': 4.5, 'EMI': 892892}

In [35]:
my_dict = [1, 2, 3]
my_dict.append(4)
print(my_dict)

[1, 2, 3, 4]

In [47]:
my_dict = {'a':1,'B':2,'c':3}
myd2 = {'d':4,'e':6,'f':8}
my_dict.update(myd2)
print(my_dict)

{'a': 1, 'B': 2, 'c': 3, 'd': 4, 'e': 6, 'f': 8}

In [51]:
inventory={'Apples':10, 'Bananas':5, 'Oranges':8}
inventory.pop('Oranges')
print(inventory)

{'Apples': 10, 'Bananas': 5}

In [79]:
score = {'Physics':60, 'Math' : 98, 'Chemistry':99}
# print(score)
# print("Keys", score.keys())
# print("Values",score.values())
# print("Items", score.items())
total = 0
avg = 0
l=len(score)
for i in score.values():
    total=total+i
avg=total/1
print(f'avg marks = {avg}')

avg marks = 257.0

In [83]:
# Step 1 Create a nested dictionary called company with two employees:
company={	"emp1": {"name": "Alice", "age": 28, "position": "Manager"}, "emp2": {"name": "Bob", "age": 25, "position": "Developer"}}

# Step 2 Print the name and position of emp2.
print(f' Name of Employee : {company["emp2"]["name"]} \n Position : {company["emp2"]["position"]}')
company.update({"emp3":{"name": "Charlie", "age": 30, "position": "Designer"}})
print(company)

 Name of Employee : Bob
 Position : Developer
{'emp1': {'name': 'Alice', 'age': 28, 'position': 'Manager'}, 'emp2': {'name': 'Bob', 'age': 25, 'position': 'Developer'}, 'emp3': {'name': 'Charlie', 'age': 30, 'position': 'Designer'}}

In [95]:
score = {'player1':60, 'player2':70, 'player3':80}
total = 0
for i in score:
    print(f' {i}: score[i]')
    total+=score[i]
print(f' Total Score Getting: {total}')

 player1: score[i]
 player2: score[i]
 player3: score[i]
 Total Score Getting: 210

In [101]:
names=["Gaurav Bhai", "Raghav", "Rohit"]
salary=[9433545, 90899, 88000]
t = dict(zip(names,salary))
print(t)

{'Gaurav Bhai': 9433545, 'Raghav': 90899, 'Rohit': 88000}

In [103]:
input_list = input("enter a list space").split()
print(input_list)
freq = {}
for i in input_list:
    if item in freq:
        freq[item]+1
    else:
        freq[item]=1
print(freq)

enter a list space 2 4 67 8

['2', '4', '67', '8']

In [119]:
input_list = input("enter a list space").split()
sort_list=[]
frequency=[]

for i in input_list:
    if i not in sort_list:
        sort_list.append(i)
# print(sort_list)
for itm in sort_list:
    oc=0
    for j in input_list:
        if i==j:
            oc+=1;
    frequency.append(oc)
print(frequency)
expected_output=dict(zip(sort_list, frequency))
print(f'Expected Output is {expected_output}')

enter a list space 1 2 4 6 8   5             4

[2, 2, 2, 2, 2, 2]
Expected Output is {'1': 2, '2': 2, '4': 2, '6': 2, '8': 2, '5': 2}

In [125]:
input_list=input("Enter list with space :- ").split()
count=[0]*len(input_list)
print(count)
mydict = dict()
for i in range(len(input_list)):
    for j in range(len(input_list)):
        if input_list[i]==input_list[j]:
            count[i]+=1
    mydict[input_list[i]]=count[i]
print(mydict)

Enter list with space :-  apple banana apple orange banana apple

[0, 0, 0, 0, 0, 0]
{'apple': 3, 'banana': 2, 'orange': 1}

In [133]:
# step 1. Given a dictionary of employees and their salaries:
salaries = {"John": 50000, "Jane": 60000, "Doe": 45000, "Alice": 70000, "Bob": 55000}

# 2. Use dictionary comprehension to create a new dictionary high_salary that only includes employees earning more than 55000.
high_salary=dict()

for i in salaries:
    if salaries[i]>55000:
        high_salary[i]=salaries[i]
print(high_salary)
print(max(salaries.values()))

{'Jane': 60000, 'Alice': 70000}
70000

In [145]:
product = {"pen","pencil","rubber"}
inventory = dict.fromkeys(product,10)
print(inventory)
inventory["pen"]=15
inventory["rubber"]=5
print(inventory)

{'pencil': 10, 'rubber': 10, 'pen': 10}
{'pencil': 10, 'rubber': 5, 'pen': 15}

In [153]:
fruits = {"apple": "red", "banana": "yellow", "grape": "purple"}
color_fruits={}
for key in fruits.items():
    color_fruits[i]=key
    
print(color_fruits)

{'Bob': ('grape', 'purple')}

In [2]:
import pandas as pd;